body {
	margin: 0;
	padding: 0;

	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #6c7279;
	
	-webkit-font-smoothing: antialiased;
}

*,
*:after, *:before {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0 0 10px;
}

.img-small {
	height: 100px;
}


/* Container
____________________*/
.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;

	padding: 0 15px;
}

.reviews__inner {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}


/* Header
____________________*/
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 35px 0;
	border-bottom: 1px solid black;
}

.header {
	width: 100%;
	height: 165px;

	position: fixed; /*absolute*/
	top: 0;
	left: 0;
	z-index: 1000;

	background: linear-gradient(to right, #21315E, #313962);

	transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.header__logo {
	cursor: pointer;
	padding: 10px 0;
}

/*.header.fixed {
	height: auto;
	position: fixed;

}

.header.fixed .header__inner {
	padding: 0;

	border-bottom: 0;	
}*/

.header.fixed {
	height: auto;
	/*background-color: #21315E;*/
    background: linear-gradient(to right, #21315E, #313962);
}

.header.fixed .header__inner {
	padding: 0;

	border-bottom: none;	
}

.header.hide {
    -webkit-transform: translateY(-110%);
    transform: translateY(-110%);
}


/* Nav
____________________*/
.nav {
	display: flex;

	font-weight: 700;
	/*font-size: 14px;*/
}

.nav__link {
	text-decoration: none;
	color: #E1C024; /*rgb(146, 148, 248)*/

	margin-right: 1.4rem;
	padding: .5rem .7rem;
	transition: color .1s linear;

	position: relative;
}

.nav__link:last-child {
	margin-right: 0;
}

.nav__link:hover {
	color: #1882DD;
}

.nav__link:after {
	content: "";
	display: block;

	width: 100%;
	height: 2px;
	background-color: #1882DD;

	position: absolute;
	top: 110%;
	left: 0;
	z-index: 1;

	/*display: none;*/
	opacity: 0;
	transition: opacity .1s linear;
}

.nav__link:hover:after {
	display: block;
	opacity: .95;
}


/* Intro
____________________*/
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 660px;

	background: linear-gradient(to right, #21315E, #313962)
	no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;

	padding-top: 165px;
}

.intro__inner {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;

	text-align: center;
	color: #fff;
}

.intro__title {
	font-family: 'Open Sans', sans-serif;
	
	font-size: 65px;
	margin: 0 0 30px;
	line-height: 1.1;
	font-weight: 700;

	text-transform: uppercase;
}

.intro__subtitle {
	font-size: 22px;
	font-weight: 400;

	margin-bottom: 60px;
	line-height: 1.5;
}


/* Button
____________________*/
.btn {
	display: inline-block;
	vertical-align: top;
	
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	font-family: inherit;

	color: #fff;
	font-size: 14px;
	padding: .6rem 1.2em;
	border: 1px solid rgb(146, 148, 248);
	position: relative;
	
	overflow: hidden;
	transition: color .1s linear;
}

.btn--inherit {
	background-color: inherit;
}

.btn--blue {
	background: linear-gradient(to right, #21315E, #313962);
	color: #fff;
	transition: color .1s linear;
}

.btn:hover.btn--blue {
	color: #1882DD;
}

.btn:hover {
	color: #1882DD;
	box-shadow: .1rem .1rem .9rem .3rem rgba(146, 148, 248, 0.4);
}

.btn:before {
	content: "";

	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;

    background: linear-gradient(120deg, transparent,
    rgba(146, 148, 248, 0.4), transparent);
	/*transition: all 650ms;*/
	transition-duration:  650ms;
}

.btn:hover:before {
	left: 100%;
}

.btn--long {
	min-width: 280px;
}

/* Features
____________________*/
.features {
	display: flex;
	flex-wrap: wrap;
	margin: 85px 0;
}

.features__item {
	width: 33.333333%;
	padding: 0 40px;
	margin: 25px 0;

	text-align: center;
	
}

.features__title {
	font-weight: 700;
	font-size: 18px;
	color: #2d3033;

	margin-bottom: 20px;
	text-transform: uppercase;
}

.features__text {
	font-weight: 1.5;
	color: #6c7279;
}

/* Icons
____________________*/
.icon--monitor {
	width: 90px;
	height: 90px;
	
	transition: fill .1s linear;
}

.icon--monitor:hover {
	fill: #923e57;
}

.features__icon {
	margin-bottom: 25px;
}


/* Works
____________________*/
.works {
	display: flex;
	flex-wrap: wrap;
}

.works__item {
	width: 25%;
	height: 350px;
	
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;

	position: relative;
	overflow: hidden;
}

.works__item:nth-child(4n) {
	border-right: none;
}

.works__img {
	min-width: 100%;

	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;

	transform: translate3d(-50%, -50%, 0);
}

.works__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	opacity: 0;

	background-color: rgba(232, 69, 69, 0.8);

	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	transition: opacity .2s linear;
}

.works__content:hover {
	opacity: 1;
}

.works__title {
	font-weight: 700;
	font-size: 18px;
	color: #fff;

	margin-bottom: .4rem;
	text-transform: uppercase;
}

.works__text {
	font-weight: 1.5;
	color: #fff;
}


/* Team
____________________*/
.team {
	margin: 100px 0 70px;
}

.team__inner {
	display: flex;
	flex-wrap: wrap;

	margin: 0 -15px;
}

.team__item {
	width: 25%;
	padding: 0 15px;

	margin-bottom: 30px;
}

/*.team__item:first-child {
	padding-left: 0;
}
*/
.team__img {
	display: block;
	max-width: 100%;
	height: auto;

	margin-bottom: 20px;
}

.team__name {
	margin-bottom: 8px;

	font-size: 22px;
	color: #000;
}

.team__prof {
	margin-bottom: 15px;

	color: #923e57;
	text-transform: uppercase;
}

.team_text {
	color: #6c7279;
	line-height: 1.5;

	margin-bottom: 20px;
}


/* Social
____________________*/
.social {
	display: flex;
}

.social--footer {
	justify-content: center;
}

.social__link {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 40px;
	height: 40px;
	margin-right: 6px;

	background-color: #fff;
	border: 1px solid green;

	transition: background-color .2s linear;
}

.social__icon {
	display: block;
	fill: #4267b2;

	height: 20px;
	transition: fill .2s linear;
}

.social--footer .social__link{
	background-color: transparent;
	border-color: #fff;
	border-radius: 2px;
}

/*.social--footer .social__icon {
	fill: #fff;
}*/

.icon--twitter {
	fill: #1DA1F2;
}

.icon--linkedin {
	fill: #2867B2;
}

.social__link:hover {
	background-color: #4267b2;
}

.social__link:hover.bg--twitter{
	background-color: #1DA1F2;
}

.social__link:hover.bg--linkedin{
	background-color: #2867B2;
}

.social__link:hover .social__icon {
	fill: #fff;
}



/* Reviews
____________________*/
.reviews {
	background-color: #923e57;
	overflow: hidden;
}

.reviews__slider {
	height: 480px;
	overflow: hidden;
}

.reviews__slider.slick-initialized {
	height: auto;
}

.reviews__item {
	min-height: 480px;

	display: flex;
	flex-wrap: wrap;
}

.reviews__photo {
	width: 50%;

	position: relative;
}

.reviews__img {
	width: 100%;

	position: absolute;
	top: 50%; /* если картинка больше 
				 480 по высоте*/
	right: 0;
	z-index: 1;

	transform: translateY(-50%);
}

.reviews__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;

	padding-left: 80px;
}

.reviews__text {
	font-family: 'Cardo', serif;
	font-style: italic;
	font-size: 36px;
	line-height: 1.2;
	color: #fff;
	margin-bottom: 25px;
}

.reviews__author {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #E1C024;
}

.slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0;
	padding: 0;
	list-style: none;
	width: 50%;

	position: absolute;
	bottom: 2%;
	right: 0;
	z-index: 2;
}

.slick-dots li {
	margin-right: .4em;
}

.slick-dots button {
	width: 15px;
	height: 15px;

	font-size: 0;

	background: #fff;
	color: transparent; 
	opacity: .5;

	border-radius: 50%;
	border: none;
	cursor: pointer;
}

.slick-dots button:focus {
	outline: none;
}

.slick-dots .slick-active button {
	opacity: 1;
}

.slick-item {
	outline: none;
}


/* Download
____________________*/
.download {
	margin: 90px 0;
	text-align: center;
}

.download__title {
	font-size: 28px;
	font-weight: 300;
	color: #2d3033;

	margin-bottom: 15px;
}

.download__text {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #2d3033;

	margin-bottom: 30px;
}


/* Footer
____________________*/
.footer {
	background: linear-gradient(to right, #21315E, #313962)
	no-repeat center / cover;
}

.footer__inner {
	display: flex;
	flex-wrap: wrap;

	padding: 70px 0;

	/*align-items: center;*/
}

.footer__block {
	width: 33.333333%;

	text-align: center;
	position: 0 15px;
}

.footer__title {
	font-size: 14px;
	font-weight: 700;
	color: #fff;

	margin-bottom: 10px;
	text-transform: uppercase;
}

.footer__address {
	font-style: normal;
	font-size: 14px;
	line-height: 1.5;

	color: rgba(255, 255, 255, .5);
}

.footer__text {
	font-size: 14px;
	line-height: 1.5;

	color: rgba(255, 255, 255, .5);
}


/* Copyright
____________________*/
.copyright {
	background-color: #313454;
		
	padding: 20px 0;
}

.copyright__text {
	text-align: center;

	font-size: 14px;
	color: #808080;
	line-height: 1.5;
}

.copyright__text span {
	color: #fff;
}


/* Burger
____________________*/
.burger {
	display: none;
	padding: 20px 10px;

	background: none;
	border: 0;
	border-radius: 5px;

	cursor: pointer;
}

.burger:hover {
	background-color: #333;
}

.burger__item {
	display: block;
	width: 33px;
	height: 3px;

	background-color: #fff;

	font-size: 0;
	color: transparent;

	position: relative;	
}

.burger__item:before,
.burger__item:after {
	content: "";
	width: 100%;
	height: 100%;

	position: absolute;
	left: 0;
	z-index: 1;
	
	background-color: #fff;
}

.burger__item:before {
	top: -8px;
}

.burger__item:after {
	bottom: -8px;
}


/*.xz {
	width: 100%;
	height: 40px;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	background-color: #fff;
}
*/

/* Media
____________________*/
@media (max-width: 1300px) {

	/* Works */
	.works__item {
		width: 50%;
	}
	
	.works__item:nth-child(2n) {
		border-right: none;
	}

	/*.reviews__img {
		height: 100%;
	}*/

}

@media (max-width: 1020px) {
	
	/* Intro */
	.intro__title {
		font-size: 40px;
	}

	.intro {
		height: auto;
		padding-top: 200px;
		padding-bottom: 40px;
	}

	/* Features */
	.features__item {
		width: 50%;
	}

	/* Team */
	.team__item {
		width: 50%;

		text-align: center;
	}

	.team__img {
		margin-left: auto;
		margin-right: auto;
	}

	.social {
		justify-content: center;
	}



	/* Reviews */
	.reviews__photo {
		width: 100%;
		min-height: 480px;

		margin-bottom: 40px;
		overflow: hidden;
	}

	/*.reviews__img {
		margin-left: auto;
		margin-right: auto;
	}*/

	.reviews__content {
		width: 100%;
	}

	.reviews__content {
		padding-left: 50px;
		padding-right: 20px;
		margin-bottom: 40px;
	}

	.reviews__author {
		margin-right: 20px;
	}

	.slick-dots {
		left: 27%;
	}
}

@media (max-width: 870px) {
	
	/* Intro */
	.intro {
		height: auto;
		padding-top: 200px;
		padding-bottom: 40px;
	}

	/* Nav */
	.nav {
		display: none;
		width: 100%;
		flex-direction: column;
		
		align-items: flex-end;
						
		position: absolute;
		right: 0;
		top: 150%;
		
		opacity: 0.5;
		
		background: linear-gradient(to right, #21315E, #313962);
	}

	.nav.show {
		display: flex;
		border-top: 2px solid #fff;
	}

	.nav__link {
		padding: .7em 1em;
		margin-right: 0;
	}
	
	.nav__link:after {
		top: 89%;
	}

	.burger {
		display: block;
	}

	.burger:enabled  {
		border: 2px solid #fff;
	}

	.burger:focus {
		outline: none;
	}
}

@media (max-width: 767px) {

	/* Intro */
	.intro {
		height: auto;
		padding-top: 200px;
		padding-bottom: 40px;
	}

	.intro__title {
		font-size: 30px;
	}

	.intro__subtitle {
		margin-bottom: 30px;
		font-size: 16px;
	}


	/* Features */
	.features {
		margin: 40px 0;
	}

	.features__item {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}


	/* Works */
	.works__item {
		width: 100%;
		height: 300px;
		border-right: none;
	}


	/* Team */
	.team {
		margin: 60px 0 30px;
	}

	.team__item {
		width: 100%;

		text-align: center;
	}

	.team__img {
		margin-left: auto;
		margin-right: auto;
	}

	.social {
		justify-content: center;
	}


	/* Reviews */
	.reviews__photo {
		margin-bottom: 20px;
		overflow: hidden;
	}

	.reviews__img {
		top: 44%;
	}

	.reviews__content {
		padding-left: 30px;
		margin-bottom: 40px;
	}

	.reviews__text {
		font-size: 30px;
	}

	.reviews__author {
		font-size: 20px;
	}


	/* Footer */
	.footer__inner {
		padding: 30px 0;
	}

	.footer__block {
		width: 100%;
		margin-bottom: 30px;
	}

	.footer__block:last-child {
		margin-bottom: 0;
	}
}

@media (max-width: 414px) {

	/* Reviews */
	.reviews__photo {
		margin-bottom: -70px;
		overflow: hidden;
	}

	.reviews__content {
		padding-left: 30px;
		margin-bottom: 40px;
	}

	/* Btn */
	.btn--long {
		min-width: 180px;
	}
	
	.download {
		margin: 50px 0;
	}

	.download__title {
		font-size: 24px;
	}

	.download__text {
		font-size: 14px;
	}
}